<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {%- seo -%}

  <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
  {%- feed_meta -%}

  {% if page.import_MathJax3 %}
  <script type="text/javascript" id="MathJax-script" async
  src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-svg.js">
  </script>
  {% endif %}

  {% if page.import_p5_widget %}
  <script src="//toolness.github.io/p5.js-widget/p5-widget.js"></script>
  {% endif %}

  {% if page.import_p5_lib %}
  <script src="\assets\libs\p5-1.5.min.js"></script>
  {% endif %}

  {% if page.import_plotly %}
  <script src="\assets\libs\plotly-2.16.1.min.js"></script>
   {% endif %}

</head>
